.button{
    border: solid 2px black;
    height: 200px;
    width: 200px;
    text-align: center;
    height: 100px;
    width: 250px;
}
h1:hover{
    overflow: visible;
    height: 250px;
    width: 250px;
}


    

